<div class="post col-md-4">
    <article>
    <div class="post-thumbnail">
        <a href="index.php?action=show_post&post_id={id}&title={slug}">
            <img src="admin/{image}" alt="..." class="img-fluid">
        </a>
    </div>
    <div class="post-details">
        <div class="post-meta d-flex justify-content-between">
            <div class="date">{post_date}</div>
            <div class="date"> {past_time} </div>
        </div>
        
    <a href="index.php?action=show_post&post_id={id}&title={slug}">
        <h3 class="h4">{title}</h3>
    </a>
    <p class="text-muted">{subtitle}</p>
    </article><!-- #post -->
</div>
  
