<article class="blog-post">
	<div class="blog-post-image">
		<a href="index.php?action=show_post&post_id={id}&title={slug}"><img src="admin/{image}" alt=""></a>
	</div>
	<div class="blog-post-body">
		<h2><a href="index.php?action=show_post&post_id={id}&title={slug}">{title}</a></h2>
		<div class="post-meta"><span>by <a href="#">{author}</a></span>/<span><i class="fa fa-clock-o"></i>{post_date}</span>/<span><i class="fa fa-comment-o"></i> <a href="#">343</a></span></div>
		<p>{subtitle}</p>
		<div class="read-more"><a href="index.php?action=show_post&post_id={id}&title={slug}">Continue lendo</a></div>
	</div>
</article>